<script>
$(document).ready(
  function(){
  var csrf_token = $('meta[name=csrf-token]').attr('content');
  var csrf_param = $('meta[name=csrf-param]').attr('content');
  var params;
  if (csrf_param !== undefined && csrf_token !== undefined) {
    params = csrf_param + "=" + encodeURIComponent(csrf_token);
  }
  $('.redactor').redactor(
    { "imageUpload":"/redactor_rails/pictures?" + params,
      "imageGetJson":"/redactor_rails/pictures",
      "fileUpload":"/redactor_rails/documents?" + params,
      "fileGetJson":"/redactor_rails/documents",
      "path":"/assets/redactor-rails",
      "css":"style.css",
      buttons: ['formatting', 'bold', 'italic', 'deleted',
                'unorderedlist', 'orderedlist', 'outdent', 'indent']}
  );
});
</script>

<%= simple_form_for @note do |f| %>
  <p>Your To-Do Item:</p>
  <%= f.text_area :content, :class => "redactor", id: "main_content", :rows => 40, :cols => 120 %><br/>
  <p>Date Due:</p>
  <%= f.text_field :due, :class => 'datepicker' %><br/><br/>
  <%= f.button :submit, :class => 'note_submit' %>
<% end %>

<% unless @notes.empty? %>
  <p id="manage">Click here to manage your notes.</p>

  <section class ="notes">
    <% @notes.each do |note| %>
      <%= simple_form_for note, remote: true do |n| %>
        <div class="full_wrapper">
          <div class="note_container note_uncomp">
            <div class="note_checkbox"><%= n.check_box :complete, :class => 'checkable', :id => 'complete_checkbox' %></div>
            <% if note.due %>
                <div class="note_date<% if note.due <= Date.today %> overdue<% end %>">Due: <%= note.due.to_s %></div>
            <% end %>
            <div class="note_content"><%= note.content.html_safe %></div>
          </div>
          <div class="delete">
            <%= link_to 'Delete', note, method: :delete, remote: true %>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
<% end %>