<p>Hello, buddy! I'm up and running w/ bootstrap!</p>

<br/>

<%= simple_form_for(@note, html: {class: 'form-horizontal' }) do |f| %>
  <%= f.text_area :content, size: "80x5" %><br/>
  <%= f.button :submit %>
<% end %>

<br/>

<ol>
  <% @notes.each do |note| %>
    <%= simple_form_for note, remote: true do |n| %>
      <li><%= note.content %> | <%= n.check_box :complete, :class => 'checkable' %></li>
    <% end %>  
  <% end %>
</ol>