<script>
$(document).ready(
  function(){
  var csrf_token = $('meta[name=csrf-token]').attr('content');
  var csrf_param = $('meta[name=csrf-param]').attr('content');
  var params;
  if (csrf_param !== undefined && csrf_token !== undefined) {
    params = csrf_param + "=" + encodeURIComponent(csrf_token);
  }
  $('.redactor').redactor(
    { "imageUpload":"/redactor_rails/pictures?" + params,
      "imageGetJson":"/redactor_rails/pictures",
      "fileUpload":"/redactor_rails/documents?" + params,
      "fileGetJson":"/redactor_rails/documents",
      "path":"/assets/redactor-rails",
      "css":"style.css",
      buttons: ['formatting', 'bold', 'italic', 'deleted',
                'unorderedlist', 'orderedlist', 'outdent', 'indent']}
  );
});
</script>

<%= simple_form_for @note do |f| %>
  <%= f.text_area :content, :class => "redactor", id: "main_content", :rows => 40, :cols => 120 %><br/>
  <%= f.button :submit %>
<% end %>

<br/>
<br/>

<section class ="notes">
  <% if @notes %>
    <% @notes.each do |note| %>
      <div class="note_container note_uncomp">
        <%= simple_form_for note, remote: true do |n| %>
          <div class="note_checkbox"><%= n.check_box :complete, :class => 'checkable', :id => 'complete_checkbox' %></div>
          <div class="note_content"><%= note.content.html_safe %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</section>